body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/containers/assets/white.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* background-position: center; */
  /* background-color: black; */
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
